*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f4f6f8;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #1e293b;
    color: white;
    padding: 30px;
    text-align: center;
}

header h1 {
    margin-bottom: 10px;
}

main {
    max-width: 900px;
    margin: 30px auto;
    padding: 0 20px;
}

section {
    background-color: white;
    padding: 25px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0,.05);
}

section h2 {
    margin-bottom: 15px;
    color: #1e293b;
}

ul {
    list-style: nome;
}

ul li {
    margin-bottom: 8px;
}

footer {
    background-color: #1e293b;
    color: white;
    text-align: center;
    padding: 20px;
}

button{
    padding: 10px 20px;
    background-color: #1e293b;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

button:hover{
    background-color: #334155;
}

/* Botão dark mode */
#btnDarkmode {
    margin-top: 15px;
    padding: 8px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

/* Classe do modo escuro */
.dark-mode {
    background-color: #0f172a;
    color: #f1f5f9;
}

.dark-mode section {
    background-color: #1e293b;
}

.dark-mode header,
.dark-mode footer {
    background-color: #020617;
}

#listaProjetos {
    display: none;
    margin-top: 15px;
}